@use "index" as *;

:host {
  display: block;

  @include mobile {
    position: relative;
    height: 240px;
  }
}

img {
  object-fit: cover;

  @include mobile {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  @include desktop {
    border-radius: 10px 0 0 10px;
  }
}
