@use "index" as *;

:host {
  display: block;

  @include mobile {
    position: relative;
    height: 240px;
  }
}

img {
  object-fit: cover;

  @include mobile {
    width: 100%;
    border-radius: $root-border-radius $root-border-radius 0 0;
  }

  @include desktop {
    border-radius: $root-border-radius 0 0 $root-border-radius;
  }
}
