$tablet-min-width: 768px;
$desktop-min-width: 1440px;
$mobile-max-width: $tablet-min-width - 1;
$tablet-max-width: $desktop-min-width - 1;

@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin mobile-desktop {
  @media (max-width: $mobile-max-width) or (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}
